<!DOCTYPE html>
<html>
  <head>
    <title>Srijan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1>Wanna Something interesting??</h1>
        Go for drawing  by shaking your mouse!!
        <a href="drawing">Here is the link :)</a>
        <p>Welcome to Srijan</p>
  </body>
</html>
